.site-header {
    position: fixed;
    top: 0;
    width: 100%;
    padding: 60px 0;
    z-index: 2;
    -webkit-transition: .3s all ease-in-out;
    -o-transition: .3s all ease-in-out;
    transition: .3s all ease-in-out; }
    .site-header.scrolled {
      padding: 20px 0;
      background: #fff;
      -webkit-box-shadow: 0 5px 20px -5px rgba(0, 0, 0, 0.1);
      box-shadow: 0 5px 20px -5px rgba(0, 0, 0, 0.1); }

.site-logo {
    display: inline-block;
    padding-left: 40px; 
    top: 15px;
    left: 45px;
    position: absolute; }
    .site-logo a {
        opacity: 1;
        fill: url(#logo);
        position: left;
        overflow: visible;
        width: 51px;
        height: 62px;
        top: 36px;
        line-height: 1; }

.container-fluid {
    max-width: 1600px; }
    .container-fluid ul {
        padding: 0px;
        margin: 0px;
        text-align: center;
        display:inline-block;
        vertical-align:top; }

        .banner {
            opacity: 1;
            fill: transparent;
            position: absolute;
            overflow: visible;
            width: 1350px;
            height: 400px;
            left: -3px;
            top: 100px; 
            background-repeat: no-repeat;
            background-position: right; }
                .banner h1 {
                    padding-left: 75px;
                    font-family: Poppins;
                    font-style: bold;
                    font-size: 45px; 
                    color: rgba(7,0,70); }
                .banner h2 {
                    padding-left: 75px;
                    font-family: Poppins;
                    font-style: bold;
                    font-size: 25px; 
                    color: rgba(7,0,70); }

.menu {
    opacity: 1;
	position: absolute;
	width: 253px;
	height: 92px;
	left: 103px;
	top: 525px;
    overflow: visible; }
    .menu icon {
        opacity: 1;
        filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
        fill: rgba(214,237,255,1);
        position: absolute;
        overflow: visible;
        width: 92px;
        height: 92px;
        left: 0px;
        top: 0px; 
        border: 4px dashed cornflowerblue; }
    .menu title-icon {
        opacity: 1;
        position: absolute;
        left: 107px;
        top: 22px;
        box-sizing: border-box;
        margin: 0;
        padding: 0;
        overflow: visible;
        width: 147px;
        white-space: nowrap;
        text-align: left;
        font-family: Poppins;
        font-style: normal;
        font-weight: bold;
        font-size: 16px;
        color: rgba(7,0,70,1);
        letter-spacing: 0.83px; }

.post {
    max-width: 1600px;
    top: 750px; 
    left: 72px; }
    .post title-post{
        opacity: 1;
        position: absolute;
        left: 792px;
        top: 750px;
        box-sizing: border-box;
        margin: 0;
        padding: 0;
        overflow: visible;
        width: 390px;
        white-space: nowrap;
        text-align: left;
        font-family: Poppins;
        font-style: normal;
        font-weight: bold;
        font-size: 41px;
        color: rgba(7,0,70,1);
        letter-spacing: 0.43px; }
    .post pict-post{
        opacity: 1;
        filter: drop-shadow(0px 3px 20px rgba(0, 0, 0, 0.161));
        fill: rgba(214,237,255,1); 
        position: absolute;
        overflow: visible;
        width: 677px;
        height: 383px;
        top:750px;
        border: 4px dashed cornflowerblue; }

.form {
    max-width: 1600px;
    top: 75px; }
    .form title-form {
        opacity: 1;
        position: absolute;
        top: 111px;
        box-sizing: border-box;
        margin: 0;
        padding: 0;
        overflow: visible;
        width: 533px;
        white-space: nowrap;
        text-align: center;
        font-family: Poppins;
        font-style: normal;
        font-weight: bold;
        font-size: 38px;
        color: rgba(7,0,70,1);
        letter-spacing: 0.03px; }
    .form label {
        opacity: 1;
        position: absolute;
        left: 338px;
        top: 281px;
        box-sizing: border-box;
        margin: 0;
        padding: 0;
        overflow: visible;
        width: 69px;
        white-space: nowrap;
        text-align: left;
        font-family: Poppins;
        font-style: normal;
        font-weight: normal;
        font-size: 20px;
        color: rgba(7,0,70,1); }
    .form rect {
        opacity: 1;
        filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.059));
        fill: rgba(255,255,255,1);
        stroke: rgba(112, 112, 112, 0.15);
        stroke-width: 1px;
        stroke-linejoin: miter;
        stroke-linecap: butt;
        stroke-miterlimit: 4;
        shape-rendering: auto; 
        position: absolute;
        overflow: visible;
        width: 474px;
        height: 167px;
        left: 469px;
        top: 278px; 
        border: 4px dashed rgba(7,0,70,1); }
    .form tombol {
        opacity: 1;
        filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.059));
        fill: rgba(7,0,70,1);
        stroke: rgba(112, 112, 112, 0.03);
        stroke-width: 1px;
        stroke-linejoin: miter;
        stroke-linecap: butt;
        stroke-miterlimit: 4;
        shape-rendering: auto;
        position: absolute;
        overflow: visible;
        width: 194px;
        height: 61px;
        left: 584px;
        top: 505px;
        background-color: darkgrey; }
    .form tombol o {
        opacity: 1;
		white-space: nowrap;
		text-align: center;
		font-family: Poppins;
		font-style: normal;
		font-weight: bold;
		font-size: 16px;
        color: rgba(7,0,70,1); }